language: node_js
node_js: 6
os:
- linux
env:
  matrix:
  - CXX=g++-4.8
  global:
    secure: HCRu7IBoOVgv/WOmOY/1+wEE5Xyo+C+MhAyvnSKj3oRR1HYyjJ9waIYHAmgjkwpG9m1O18Wb5aQa1o5Nab3SlgB8wWj0lRgyslwM+L8CU3ORMvCCwMlBIeeCjnD8iE8EiKi43kWjc6E4t3EcO3UH5p2fH9UL7n8ZuhbqjmMRu/HtJPJNxZmejwf6yv3V2HvjT3D6/etaVJg0cle0BIB5tm3e42FQKV5Aj1kPFzlQ4mkW0yUUhtdIXzLOn89gw93fxYyg+9BCXW8whQai6B4eCxkaNfQF4BAmIbA4+GnPoF8j+Dy7nQmYu8McqGNCeBJ93ecLH6njZAsf8W7yDfan75WeQJcIEIZvqur97TVAZYxgMYcDsnwRNEWMWb+7+e3GTxceRPWTaYHzZCb3InVkt+Nu0VrCqDtp1EmCOJBEGvMfzziXalpf/eYkmYFiuutE8z76LWK2+tDgPGYItQRykQkvwKqON568pxTRceYGt/fdB2DgfoL7mNI1OSs5XOoWdSyLLpjf60k6eeiIpMl+JcFHqDRAXfjviSbksYRFCCq2gfHeJN59jEsIUIB6RDj+wlPDopELxG1Hu60lA2tGJDQxOoyQiOuoOQ7VeV4Jh0IL65AZJFtBwN8NbO3pkFpCkKOaH7X20JoJ8SFLErVmvQrQy82WCfE8ARbbAekp8dE=
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
matrix:
  fast_finish: true
cache:
  apt: true
  directories:
  - node_modules
  - build
install:
- npm install --ignore-scripts
script:
- npm run build
- npm test
before_deploy:
- npm run create_npmrc
deploy:
- provider: script
  skip_cleanup: true
  script: npm publish dist/pact-standalone-darwin/ --access public
  on:
    branch: master
    tags: true
- provider: script
  skip_cleanup: true
  script: npm publish dist/pact-standalone-linux-ia32/ --access public
  on:
    branch: master
    tags: true
- provider: script
  skip_cleanup: true
  script: npm publish dist/pact-standalone-linux-x64/ --access public
  on:
    branch: master
    tags: true
- provider: script
  skip_cleanup: true
  script: npm publish dist/pact-standalone-win32/ --access public
  on:
    branch: master
    tags: true
- provider: script
  skip_cleanup: true
  script: npm publish . --access public
  on:
    branch: master
    tags: true
